h1 {
    font-size: 40px;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-size: 10vw;
}

button {
    font-size: 1em;
}


.ej2 {
    height: 20px;
}


.pej2 {
    font-size: 2em;
}


.ej3 {
    width: 50vw;
    height: 50vh;
    background-color: rgb(48, 206, 138);
    padding: calc(3rem + 9px);
}

.ej4 {
    font-size: calc(2vw + 10px);
}


.pej5 {
    max-width: 100vh;
    line-height: 1.6em;
}


.h1ej6 {
    font-size: 5vw;
}

.pej6 {
    font-size: 2vh;
}